In [7]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
'category':['A', 'B', 'A', 'B', 'A', 'B'],
'value':np.random.randint(1, 5, size=6),
'score':np.random.randint(60, 100, size=6)
})
print("\nOriginal Dataframe:\n",df)

Original Dataframe:
       Name category  value  score
0    Alice        A      3     72
1      Bob        B      4     67
2  Charlie        A      2     84
3    Alice        B      3     72
4      Bob        A      2     72
5  Charlie        B      2     99

In [8]:
#Data grouping and Aggregation: with one column sum
df1=df.groupby(('Name'),as_index=False)['value'].sum()
print("\nGroup by name and Aggregation with one column:\n",df1)

Group by name and Aggregation with one column:
       Name  value
0    Alice      6
1      Bob      6
2  Charlie      4

In [9]:
#Data grouping and Aggregation: with two column sum
df2=df.groupby(('Name'),as_index=False)[['value','score']].sum()
print("\nGroup by name and Aggregation with two column:\n",df2)

Group by name and Aggregation with two column:
       Name  value  score
0    Alice      6    144
1      Bob      6    139
2  Charlie      4    183

In [10]:
#Data grouping and Aggregation: with one column sum
df3=df.groupby(('Name'),as_index=False)['value'].agg('sum')
print("\nGroup by name and Aggregation with one column using agg function:\n",df3)

Group by name and Aggregation with one column using agg function:
       Name  value
0    Alice      6
1      Bob      6
2  Charlie      4

In [11]:
#Group by 'Name' and calculate multiple aggregations
df4 = df.groupby('Name').agg({
'value': ['sum', 'mean', 'min', 'max'],
'score': ['sum', 'mean']})

print("\nGroup by name and multiple Aggregation functions :\n", df4)

Group by name and multiple Aggregation functions :
         value              score
          sum mean min max   sum  mean
Name
Alice       6  3.0   3   3   144  72.0
Bob         6  3.0   2   4   139  69.5
Charlie     4  2.0   2   2   183  91.5

In [23]:
df5=df.groupby(('Name'),as_index=False)['value'].count()
print("\n Group and Count:\n",df5)

 Group and Count:
       Name  value
0    Alice      2
1      Bob      2
2  Charlie      2

In [14]:
df6=df.groupby(('Name')).count()
print("\n Group and Count:\n",df6)

 Group and Count:
          category  value  score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [15]:
df7=df.groupby(('Name'),as_index=False)['value'].first()
print("\n Group and display from first:\n",df7)

 Group and display from first:
       Name  value
0    Alice      3
1      Bob      4
2  Charlie      2

In [16]:
df8=df.groupby(('Name')).first()
print("\n Group and display from first:\n",df6)

 Group and display from first:
          category  value  score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [17]:
df9=df.groupby(('Name'),as_index=False)['value'].last()
print("\n Group and display from last:\n",df9)

 Group and display from last:
       Name  value
0    Alice      3
1      Bob      2
2  Charlie      2

In [20]:
df10=df.groupby(('Name'),as_index=False)['value'].last()
print("\n Group and display from last:\n",df10)

 Group and display from last:
       Name  value
0    Alice      3
1      Bob      2
2  Charlie      2

In [21]:
df11=df.groupby(('Name'),as_index=False)['value'].size()
print("\n Group and display from size:\n",df11)

 Group and display from size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

In [22]:
df12=df.groupby(('Name')).size()
print("\n Group and display from last:\n",df12)

 Group and display from last:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64